.barra_nav{
    background-color:#566573;
    display:flex;
    justify-content:space-around;
    width:100%;
    margin-top:-30px;
    margin-bottom:30px;
    height:50px;
    font-family: 'Montserrat', sans-serif;
    a{
        color:white;
        text-shadow: 0.5px 0.5px #AAB7B8;
        text-decoration:none;
        margin-top:13px;
        font-weight:700;
    }
}
.titulo{
    background-color:#34495E;
    padding: 10px;
    margin-right:-73px;
    margin-left:-73px;
    margin-top:-30px;
    color:white;
}
.subtitulo{
    background-color:#34495E;
    padding: 10px;
    margin-right:-73px;
    margin-left:-73px;
    color:white;
    margin-top:15px;
}
.box{
    background-color:#F2F3F4;
    border: 1px solid #34495E;
    margin-right:-73px;
    margin-left:-73px;
    padding:20px;
    padding-bottom:10px;
    text-align:center;
    display:flex;
    justify-content: center;
}
.row90{
    width:90%;
    margin:auto;
}
.littlebox{
    margin-bottom: 30px;
    padding-bottom:15px;
    padding-left:20px;
    border: 2px solid beige;
}
.titulopq{
    background-color:#34495E;
    margin-bottom:10px;
    margin-left:-20px;
    margin-right:-15px;
    padding-bottom:0.5px;
    color:white;
    padding-top:3px;
}
.placar{
    padding-top:15px;
    padding-left:10px;
    background-color:white;
    margin-right:-11.5px;
    border: 1px solid #808B96;
}
.placar_line{
    text-align:center;
    margin-left:-15px;
    img{
        width:20%;
    }
    p{
        text-align:left;
        font-size:120%;
    }
}
.number{
    margin-bottom:1px;
    font-size:300%;
    margin:auto;
    color: #455A64;
    text-align:center;
    text-shadow: 2px 2px 2px #263238;
}
.comp{
    font-size: 150%;
    color: #607D8B;
    text-align:center;
}
.number_lt{
    margin-bottom:1px;
    font-size:200%;
    margin:auto;
    color: #455A64;
    text-align:center;
    text-shadow: 1px 1px 1px #263238;
}
.comp_lt{
    font-size: 120%;
    color: #607D8B;
    text-align:center;
}
.afterword{
    font-size:80%;
    font-style:italic;
    margin-top:-10px;
    margin-bottom:0;
    color: #747474;
    text-align:center;
}
.nmb_row{
    background-color:#EFEBE9;
    margin-left:-80px;
    margin-right:-80px;
    margin-top:-20px;
    margin-bottom:10px;
    padding:10px 0;
    border-radius:5px;
    h5{
        color:#CDC8C5;
        font-size:150%;
        text-shadow:1px 1px 2px #455A64;
        font-weight:700;
    }
}
.nmb_title{
    color:#CDC8C5;
    font-size:180%;
    text-shadow:2px 2px 2px #455A64;
    font-weight:800;
}
.nmb_uptitle{
    color:#747474;
    font-size:180%;
    text-shadow:2px 2px 2px #CDC8C5;
    font-weight:800;
}
.moreless{
    list-style-type:none;
    font-size:120%;
    color: #455A64;
    text-align:center;
    text-shadow: 0.5px 0.5px 1px #263238;
    li{
        margin-bottom:3px;
        margin-top:3px;
        text-align:justify;
    }
    img{
        //margin-bottom: 2px;
        //margin-top:2px;
        width: 10%;
    }
}
.shadowed{
    text-shadow:0.5px 0.5px 1px #F8F9F9;
    font-weight:1000;
}
.gd{
    background-color:#D4EFDF;
    //width:40%;
    //border:2px solid #229954;
    //border-radius:5px;
    //height:100% !important;
    //margin:0 auto;
    padding:10px;
}
.bd{
    background-color:#FADBD8;
    // width:40%;
    // border:2px solid #922B21;
    // border-radius:5px;
    // height:100% !important;
    // margin:0 auto;
    padding:10px;
}
.ca{
    background-color:#FCF3CF;
    padding:10px;
}
.cv{
    background-color:#F5B7B1;
    padding:10px;
}
.flag{
    box-shadow: 1px 1px 1px black !important;
}
.fairplay{
    list-style-type:none;
    font-size:120%;
    color: #455A64;
    text-align:center;
    text-shadow: 0.5px 0.5px 1px #263238;
    li{
        margin-bottom:3px;
        margin-top:3px;
        text-align:justify;
    }
    img{
        //margin-bottom: 2px;
        //margin-top:2px;
        width: 5%;
    }
}