.barra_nav{
    background-color:#566573;
    display:flex;
    justify-content:space-around;
    width:100%;
    margin-top:-30px;
    margin-bottom:30px;
    height:50px;
    font-family: 'Montserrat', sans-serif;
    a{
        color:white;
        text-shadow: 0.5px 0.5px #AAB7B8;
        text-decoration:none;
        margin-top:13px;
        font-weight:700;
    }
}
.titulo{
    background-color:#34495E;
    padding: 10px;
    margin-right:-73px;
    margin-left:-73px;
    margin-top:-30px;
    color:white;
}
.subtitulo{
    background-color:#34495E;
    padding: 10px;
    margin-right:-73px;
    margin-left:-73px;
    color:white;
    margin-top:15px;
}
.box{
    background-color:#F2F3F4;
    border: 1px solid #34495E;
    margin-right:-73px;
    margin-left:-73px;
    padding:20px;
    padding-bottom:10px;
    text-align:center;
    display:flex;
    justify-content: center;
}
.row90{
    width:90%;
    margin:auto;
}
.littlebox{
    margin-bottom: 30px;
    padding-bottom:15px;
    padding-left:20px;
    border: 2px solid beige;
}
.titulopq{
    background-color:#34495E;
    margin-bottom:10px;
    margin-left:-20px;
    margin-right:-15px;
    padding-bottom:0.5px;
    color:white;
    padding-top:3px;
}
.placar{
    padding-top:15px;
    padding-left:10px;
    background-color:white;
    margin-right:-11.5px;
    border: 1px solid #808B96;
}
.placar_line{
    text-align:center;
    margin-left:-15px;
    img{
        width:60%;
    }
    p{
        text-align:left;
        font-size:120%;
    }
}