body{
    background-color: beige;
    font-family: 'Cabin', sans-serif;
    padding-top:30px;
    padding-bottom:30px;
}
h1, h2, h3, h4, h5{
    text-align:center;
}
nav{
    margin-top:-35px;
    margin-bottom:30px;
}