body{
    background-color: beige;
    font-family: 'Cabin', sans-serif;
    padding-top:30px;
    padding-bottom:30px;
}
h1, h2, h3, h4, h5{
    text-align:center;
}
a{
    text-decoration:none;
    color: inherit;
    &:hover{
        font-size:95%;
        color: #7F8C8D;
    }
}
.lightshadow{
    text-shadow: 0.5px 0.5px #AAB7B8;
}
.darkshadow{
    text-shadow: 0.5px 0.5px black;
}
.nomargin{
    margin-right:-81px;
    margin-left:-82px;
}
.whitecanvas{
    background-color:white;
}