#adef{
    font-size:80%;
    text-align:left;
    margin-bottom:0px;
    padding-bottom:0px;
    font-weight:800;
}

#gamenumber{
    font-size:250%;
    color: #34495E;
    font-weight:700;
}

#grupoitem{
    padding-left:27.5%;
    margin-bottom:3px;
    font-weight:700;
    color:#34495E;
}

#dtl_sel{
    padding-top:20px;
    padding-bottom:20px;
    h2{
        font-weight:600;
        color:#34495E;
        text-shadow: 1px 1px #AAB7B8;
        margin-bottom:15px;
    }
    p{
        font-size:105%;
    }
}

.jogo{
    p{
        font-size:110%;
        text-align:center;
    }
}
.datahora{
    background-color: #2980B9;
    padding:5px;
    padding-bottom:1px;
    text-align:left !important;
    color:white;
    margin-top:5px;
    display:flex;
    justify-content:space-between;
}
.equipes{
    background-color:white;
    padding-top:15px;
    padding-right:7px;
    padding-left:7px;
    line-height:350%;
}
.gflag{
    width:100%;
}
.hdclass{
    background-color: #808B96;
    color:white;
    margin-top:5px;
    padding-top:5px;
    padding-left:5px;
}
.nohdclass{
    background-color: white;
    margin-top:5px;
    padding-top:5px;
}
.stdaln{
    text-align:center;
    margin:auto;
}
.result{
    text-align:center;
    font-size:300%;
    font-weight:700;
    text-shadow: 1px 1px #AAB7B8;
    img{
        vertical-align: middle;
        box-shadow: 1px 1px #34495E;
        width:15%;
        margin-bottom:18px;
    }
}
.gols{
    width:50px;
    height:50px;
    text-align:center;
    font-size:30px;
    vertical-align: middle;
    border-radius:5px;
    border:1px solid #34495E;
    box-shadow: 0.5px 0.5px #34495E;
    margin-bottom:18px;
}
.gmbutton{
    border-radius:5px;
    background-color: #34495E;
    color:white;
    border:none;
    box-shadow: 1px 1px #AAB7B8;
    font-size:130%;
    padding:5px;
    &:hover{
        background-color:white;
        color: #34495E;
        box-shadow: 1px 1px black;
    }
}
.penaltis{
    font-size:120%;
    box-shadow: 1px 1px #AAB7B8;
    background-color: #D5D8DC;
    padding:10px;
    padding-top:10px;
    padding-bottom:10px;
    img{
        width:50px;
    }
}
.pnt{
    width:30px;
    height:30px;
    text-align:center;
    font-size:20px;
    vertical-align: middle;
    border-radius:5px;
    border:1px solid #34495E;
    box-shadow: 0.5px 0.5px #34495E;
}
.classif{
    background-color:green;
    color:white;
    font-size:80%;
    margin-left:-15px;
}
.desc{
    background-color:red;
    color:white;
    font-size:80%;
    margin-left:-15px;
}
.icon_hj{
    font-size:1550%;
    color:#34495E;
    text-shadow:2px 2px #AAB7B8;
}
.hora_hj{
    font-weight:700;
    color:red;
}
.pnt_bg{
    background-color:beige !important;
}
.pnt_top{
    margin-top:-20px;
}
.pnt_bottom{
    margin-bottom:-20px;
}
.status{
    font-size:80% !important;
    padding:0px;
}
.flag_titulo{
    margin-top:-30px;
    color:#F2F3F4;
    font-weight:700;
    text-shadow: 0px 0px 8px #515A5A;
    height:130px;
    display:flex;
    justify-content:center;
    align-content: center;
    line-height:100%;
    h1{
        margin-right:8px;
        margin-left:8px;
        margin-top:-5px;
        margin-bottom:10px;
        font-size:700%;
        font-weight:800;
    }
}
.playerlist{
    h6{
        text-align:left;
    }
    p{
        text-align:left;
    }
}
.selecao_title{
    text-shadow: 2px 2px 3px #34495E !important;
    font-weight:1000 !important;
    color:#F6F6E7 !important;
}
.statbox{
    background-color: #808B96;
    color:white;
    margin:35px;
    padding:5px;
    text-shadow: 0.5px 0.5px 3px #34495E;
}